<div ng-controller="investmentsCtrl">
<table class="table table-striped">
     <thead>
          <tr>
		<th>Ticker</th>
		<th>Name</th>
		<th>No. Shares</th>
		<th>Price &nbsp; {{ currency }}</th>
		<th>Value</th>
		<th> % </th>
         </tr>
          <thead>
          <tbody>
	
                  <tr ng-repeat="i in data">
                          <td>{{ i.Ticker }}</td>
                          <td>{{ i.Name }}</td>
                          <td>{{ i.Shares }}</td>
                          <td>{{ i.MarkPrice }}</td>
                          <td class="values">{{ i.Value | number:0 }}</td>
                          <td class="percentage" >{{ i.Percentage | number:0}}</td>
                  </tr>
       <tbody>
</table>
</div>
