html {
	font-family: 'Montserrat', sans-serif;
}

.nav-btn-row {
	margin-bottom: 50px;
}
.btn-portfolio-nav {
	border-radius: 0;
	padding: 5px 20px;
	margin: 5px;
}

.btn-portfolio-nav:hover{
	background-color: #2fb56c;
	color: white;
	border-color: #2fb56c;
}
/**
@media only screen and (max-device-width: 320px){
	.main-charts-row {
		width: 100%;
		margin: 0 auto;
	}
}
**/

.pie-chart-res {
	width: 60%;
	margin: 0 auto;		
}

@media only screen and (max-device-width: 500px){
	.pie-chart-res {
		width: 100% !important;
		margin: 0 auto;
	}
}
.main-charts-row {
	/*width: 70%;
	margin: 0 auto;
	padding: 10px;
	*/
}

.text-center {
	text-align: center;
}

.footer-brite {
	background-color: #23da87;
	padding: 15px;
}

.footer-text {
	font-size: 12px !important;
	color: white !important;
	font-weight: bold;
}
